# Artificial Neural Network

## Part 1 - Data Preprocessing

In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
dataset = pd.read_csv('BankCustomers.csv')
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

In [3]:
# convert categorical feature into dummy variables

states=pd.get_dummies(dataset['Geography'],drop_first=True)
gender=pd.get_dummies(dataset['Gender'],drop_first=True)

In [4]:

#concatenate the remaining dummies columns
dataset1=pd.concat([dataset,states,gender],axis=1)

In [5]:
#drop the columns as it is no longer required

dataset2=dataset1.drop(['Geography','Gender','Surname','CustomerId','RowNumber'],axis=1)

In [6]:
dataset2.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [7]:
X=dataset2.drop(['Exited'],axis=1)
y=dataset2['Exited']

In [8]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [9]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Part 2 - Now let's make the ANN!

In [10]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [11]:
# Initialising the ANN
classifier = Sequential()

In [12]:
# Adding the input layer and the first hidden layer
classifier.add(Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform"))

WARNING:tensorflow:From C:\Users\kartik\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [13]:
# Adding the second hidden layer
classifier.add(Dense(activation="relu", units=6, kernel_initializer="uniform"))

In [14]:
# Adding the output layer
classifier.add(Dense(activation="sigmoid", units=1, kernel_initializer="uniform"))

In [15]:
# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [16]:
classifier.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

WARNING:tensorflow:From C:\Users\kartik\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

C:\Users\kartik\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Epoch 1/100
8000/8000 [==============================] - 2s 234us/step - loss: 0.4915 - acc: 0.7952
Epoch 2/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.4285 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.4232 - acc: 0.7960
Epoch 4/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.4186 - acc: 0.8152
Epoch 5/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.4163 - acc: 0.8279
Epoch 6/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.4146 - acc: 0.8291
Epoch 7/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.4135 - acc: 0.8302
Epoch 8/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.4119 - acc: 0.8331
Epoch 9/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.4106 - acc: 0.8332
Epoch 10/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.4099 - acc: 0.8349
Epoch 11/100
8000/8000 [==============================] - 2s 192us/step - loss: 0.4094 - acc: 0.8344
Epoch 12/100
8000/8000 [==============================] - 1s 160us/step - loss: 0.4083 - acc: 0.8347
Epoch 13/100
8000/8000 [==============================] - 1s 163us/step - loss: 0.4083 - acc: 0.8347
Epoch 14/100
8000/8000 [==============================] - 1s 155us/step - loss: 0.4077 - acc: 0.8351
Epoch 15/100
8000/8000 [==============================] - 1s 170us/step - loss: 0.4068 - acc: 0.8360
Epoch 16/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.4065 - acc: 0.8341
Epoch 17/100
8000/8000 [==============================] - 1s 183us/step - loss: 0.4059 - acc: 0.8349
Epoch 18/100
8000/8000 [==============================] - 1s 156us/step - loss: 0.4052 - acc: 0.8351
Epoch 19/100
8000/8000 [==============================] - 2s 192us/step - loss: 0.4053 - acc: 0.8354
Epoch 20/100
8000/8000 [==============================] - ETA: 0s - loss: 0.4047 - acc: 0.835 - 1s 167us/step - loss: 0.4047 - acc: 0.8351
Epoch 21/100
8000/8000 [==============================] - 2s 220us/step - loss: 0.4049 - acc: 0.8355
Epoch 22/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.4041 - acc: 0.8352
Epoch 23/100
8000/8000 [==============================] - 1s 161us/step - loss: 0.4038 - acc: 0.8344
Epoch 24/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4036 - acc: 0.8341
Epoch 25/100
8000/8000 [==============================] - 1s 160us/step - loss: 0.4036 - acc: 0.8356
Epoch 26/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.4030 - acc: 0.8334
Epoch 27/100
8000/8000 [==============================] - 1s 155us/step - loss: 0.4028 - acc: 0.8367
Epoch 28/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.4030 - acc: 0.8339
Epoch 29/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4025 - acc: 0.8362
Epoch 30/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.4023 - acc: 0.8356
Epoch 31/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.4022 - acc: 0.8347
Epoch 32/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.4021 - acc: 0.8357
Epoch 33/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.4020 - acc: 0.8335
Epoch 34/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4018 - acc: 0.8361
Epoch 35/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.4011 - acc: 0.8362
Epoch 36/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.4013 - acc: 0.8356
Epoch 37/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.4010 - acc: 0.8339
Epoch 38/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.4017 - acc: 0.8357
Epoch 39/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.4010 - acc: 0.8356
Epoch 40/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.4006 - acc: 0.8357
Epoch 41/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.4010 - acc: 0.8356
Epoch 42/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.4004 - acc: 0.8352
Epoch 43/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.4005 - acc: 0.8344
Epoch 44/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.4008 - acc: 0.8360
Epoch 45/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.4006 - acc: 0.8360
Epoch 46/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.4002 - acc: 0.8361
Epoch 47/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.4001 - acc: 0.8337
Epoch 48/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.3997 - acc: 0.8360
Epoch 49/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.4000 - acc: 0.8352
Epoch 50/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.4000 - acc: 0.8367
Epoch 51/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3999 - acc: 0.8364
Epoch 52/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.4004 - acc: 0.8370
Epoch 53/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3994 - acc: 0.8360
Epoch 54/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3997 - acc: 0.8366
Epoch 55/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.3996 - acc: 0.8349
Epoch 56/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.3997 - acc: 0.8360
Epoch 57/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.3998 - acc: 0.8350
Epoch 58/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3992 - acc: 0.8356
Epoch 59/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.3999 - acc: 0.8357
Epoch 60/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.3998 - acc: 0.8360
Epoch 61/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.3992 - acc: 0.8362
Epoch 62/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3992 - acc: 0.8364
Epoch 63/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3991 - acc: 0.8360
Epoch 64/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.3993 - acc: 0.8364
Epoch 65/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.3992 - acc: 0.8357
Epoch 66/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.3990 - acc: 0.8337
Epoch 67/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3992 - acc: 0.8360
Epoch 68/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3984 - acc: 0.8365
Epoch 69/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.3991 - acc: 0.8354
Epoch 70/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.3984 - acc: 0.8355
Epoch 71/100
8000/8000 [==============================] - 1s 141us/step - loss: 0.3989 - acc: 0.8361
Epoch 72/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3992 - acc: 0.8352
Epoch 73/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.3985 - acc: 0.8362
Epoch 74/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.3991 - acc: 0.8354
Epoch 75/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.3984 - acc: 0.8357
Epoch 76/100
8000/8000 [==============================] - 1s 143us/step - loss: 0.3984 - acc: 0.8350
Epoch 77/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.3981 - acc: 0.8365
Epoch 78/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.3979 - acc: 0.8374
Epoch 79/100
8000/8000 [==============================] - 1s 162us/step - loss: 0.3980 - acc: 0.8360
Epoch 80/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.3982 - acc: 0.8355
Epoch 81/100

8000/8000 [==============================] - 1s 147us/step - loss: 0.3988 - acc: 0.8359
Epoch 82/100
8000/8000 [==============================] - 1s 161us/step - loss: 0.3978 - acc: 0.8345
Epoch 83/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.3979 - acc: 0.8359
Epoch 84/100
8000/8000 [==============================] - 1s 143us/step - loss: 0.3979 - acc: 0.8364
Epoch 85/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.3980 - acc: 0.8371
Epoch 86/100
8000/8000 [==============================] - 1s 173us/step - loss: 0.3974 - acc: 0.8364
Epoch 87/100
8000/8000 [==============================] - 1s 143us/step - loss: 0.3981 - acc: 0.8345
Epoch 88/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.3980 - acc: 0.8349
Epoch 89/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.3976 - acc: 0.8354
Epoch 90/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.3978 - acc: 0.8347
Epoch 91/100
8000/8000 [==============================] - 1s 155us/step - loss: 0.3978 - acc: 0.8337
Epoch 92/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.3976 - acc: 0.8362
Epoch 93/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3978 - acc: 0.8362
Epoch 94/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.3975 - acc: 0.8362
Epoch 95/100
8000/8000 [==============================] - 1s 155us/step - loss: 0.3974 - acc: 0.8360
Epoch 96/100
8000/8000 [==============================] - 1s 140us/step - loss: 0.3971 - acc: 0.8351
Epoch 97/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.3971 - acc: 0.8372
Epoch 98/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.3973 - acc: 0.8361
Epoch 99/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.3976 - acc: 0.8355
Epoch 100/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.3977 - acc: 0.8361

# Part 3 - Making the predictions and evaluating the model

In [38]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [37]:
dataset2.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [20]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
accuracy=accuracy_score(y_test,y_pred)

In [23]:

accuracy

0.845

In [24]:
cm

array([[1542,   53],
       [ 257,  148]], dtype=int64)

In [26]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.86      0.97      0.91      1595
           1       0.74      0.37      0.49       405

    accuracy                           0.84      2000
   macro avg       0.80      0.67      0.70      2000
weighted avg       0.83      0.84      0.82      2000